<header>
   <nav class="sticky top-0 z-50 flex items-center justify-between md:px-10 px-4 py-3 bg-white shadow-md">
    <!-- logo -->
    <div>
      <img class="lg:w-64 md:w-36 w-28" src="../img/nav-logo.avif" alt="" />
    </div>
    <!-- menu -->
    <div class="items-center justify-center hidden space-x-4 lg:flex">
      <a class="font-medium" href="index.html">Home</a>
      <a class="font-medium" href="about.html">About us</a>
      <a class="font-medium" href="services.html">Services</a>
      <a class="font-medium" href="ingredients.html">Active Ingredients</a>
      <a class="font-medium" href="products.html">Finished product</a>
      <a class="font-medium" href="markets.html">Markets</a>
      <button
        class="bg-[#3D529F] py-3 px-6 flex items-center justify-center text-white space-x-3 border-none rounded-lg text-lg font-semibold">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" />
        </svg>
        <a class="font-medium" href="../contact.html">Contact</a>
      </button>
      <div class="space-y-2">
        <img class="min-w-5 max-w-7 p-1 border border-[#3d529f] rounded-md" src="../img/british-flag.avif" alt="" />
        <img class="min-w-5 max-w-7 p-1 border border-[#3d529f] rounded-md" src="../img/spanish-flag.avif" alt="" />
      </div>
    </div>
    <!-- hamburger-icon -->
    <svg id="menu-toggle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="block cursor-pointer lg:hidden size-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </nav>
  <!-- Mobile Menu -->
  <div id="mobile-menu"
    class="hidden absolute top-0 right-0 w-full min-h-[80vh] lg:hidden flex flex-col items-center justify-start bg-white pt-4 transform -translate-x-full transition-transform duration-1000 z-[100]">
    <div class="relative flex flex-col space-y-4 text-center">
      <!-- Cross mobile menu -->
      <div class="absolute top-4 -right-10">
        <svg id="menu-close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="cursor-pointer size-9">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </div>
      <a class="font-medium" href="index.html">Home</a>
      <a class="font-medium" href="about.html">About us</a>
      <a class="font-medium" href="services.html">Services</a>
      <a class="font-medium" href="ingredients.html">Active Ingredients</a>
      <a class="font-medium" href="products.html">Finished product</a>
      <a class="font-medium" href="markets.html">Markets</a>
      <button
        class="bg-[#3D529F] w-48 p-3 flex items-center justify-center text-white space-x-3 border-none rounded-lg text-xl font-semibold">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" />
        </svg>
        <a class="font-medium" href="../contact.html">Contact</a>
      </button>
      <div class="flex items-center justify-center space-x-4">
        <img class="w-8 p-1 border border-[#3d529f] rounded-md" src="../img/british-flag.avif" alt="" />
        <img class="w-8 p-1 border border-[#3d529f] rounded-md" src="../img/spanish-flag.avif" alt="" />
      </div>
    </div>
  </div>
  <div class="md:mt-24 mt-4 space-y-6 font-sans text-center">
    <h1 class="mx-auto w-[90%] text-[30px] font-bold tracking-normal lg:text-6xl">
      Welcome to ASCENTISFAR
    </h1>
    <p
      class="leading-relaxed tracking-wide text-center w-[90%] text-xl lg:text-2xl lg:w-[50%] mx-auto font-medium text-[#5b5e76]">
      Suppliers of active ingredients, final product and specialized
      services for the pharmaceutical industry.
    </p>
  </div>
</header>