* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
h1 {
  font-size: 30px !important;
}
h1.title{
  font-size: 34px !important;
}
h2 {
  font-size: 24px !important;
}
p {
  font-size: 18px !important;
  letter-spacing: 0.025em;
  line-height: 1.75rem !important;
}

p.subtitle{
  font-size: 22px !important;
  letter-spacing: 0.025em;
  line-height: 1.75rem !important;
}

a, span {
  font-size: 16px !important;
}

 footer span {
  font-size: 12px !important;
}

img[alt="Footer Logo"] {
  width: 12rem !important;
}

@media (min-width: 768px) {
  img[alt="Footer Logo"] {
      width: 18rem !important;
  }
}